.arrowFun {
   background-color: rgb(79,56,44);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}

.arrow{
   clip-path: polygon(40% 3%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 97%, 0% 50%);
   background-color: blue;
   width: 100px;
   height: 100px;
   transition: transform 1s ease: ;
 }
 
 .arrowCon .arrow1:hover{
    transform: rotate(-90deg);
 }
 
 .arrowCon .arrow2:hover{
    transform: rotate(90deg);
 }
