@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Tillana&display=swap');

body {
    margin: 0 0;
}

body h2 {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    margin-top: 0;
}

body p {
    font-family: 'Tillana', cursive;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

.logo {
    z-index: 3;
    display: flex;
    position: fixed;
    background-color: rgb(79,56,44);
}

.logo img {
    margin: 0 auto;
    height: 10vh;
}

.logo-center {
    transition: all 0.4s;
    transform: translateX(45vw);
}

.logo-left {
    transition: all 0.4s;
    transform: translateX(0vw);
}

header {
    position: relative;
    background-color: rgb(152,196,169);
    height: 100vh;
    width: 100%;
    display: flex;
}

.Hnav {
    background-color: rgb(79,56,44);
    text-decorations: none;
    display: flex;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 2;
}

.nav-show {
    opacity: 1;
    transition: all 0.6s;
}

.nav-hide {
    opacity: 0;
    transition: all 0.6s;
}

nav {
    flex-grow: 1;
    text-align: center;
    justify-content: space-evenly;
}


nav a {
    text-align: center;
    font: normal normal normal 17px Caveat;
    letter-spacing: 0px;
    color: rgb(247,217,189);
    margin: 0 1em;
    padding: 5px 10px;
    border: none;
}

nav a:link {
    color: rgb(247,217,189);
}

nav a:hover {
    color: rgb(79,56,44);
    background-color: rgb(247,217,189);
}

.heroShot {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroShot img {
    height: 100vh;
    max-width: 100vw;
    position: absolute;
}

.heroShot .text-con1 {
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin: 0 5vw 0 55vw;
    z-index: 1;
}

.watch {
    display: flex;
    align-items: center;
    height: 75vh;
    background-color: rgb(143,177,143);
}

.watch .text-con2 {
    margin: 0 5vw;
}

.watch img {
    object-fit: cover;
    margin: 0 5vw;
    width: 50vw;
    max-height: 60vh;
}

.station {
    display: flex;
    align-items: center;
    height: 75vh;
    background-color: rgb(242,171,60);
}

.station .text-con3 {
    margin: 0 5vw;
}

.station img {
    object-fit: cover;
    margin: 0 5vw;
    width: 50vw;
    max-height: 60vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgb(79,56,44);
    justify-content: space-evenly;
}

footer p {
    color: rgb(247,217,189);
    margin: auto;
    font-size: 10px;
}

footer .leftF img {
    position: sticky;
    height: 14vh;
}

footer .rightF {
    text-align: center;
    flex-direction: column;
}
